.DS_Store
Thumbs.db
node_modules/
dist/
build/
__pycache__/
*.pyc
.venv/
env/
*.log
.vscode/
.idea/
*.swp
*.swo
*.tgz
.chart/           
release.yaml     
.kube/
!kind-config.yaml   
!kubectl-*          
*.pid
*.seed
*.bak

